/* http://paletton.com/#uid=10n0u0kllll2ULxc6tsu-deSk5a */
.c-1{ color: white;  }
.c0 { color: #FCF4F2 }
.c1 { color: #EBB492 }
.c2 { color: #AA6439 }
.c3 { color: #692B05 }
.c4 { color: #291000 }


/* reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:16px;
  vertical-align:baseline;
  background:transparent;
}

html, body {
  height: 100%;
  color: #291000;
  font-family: 'HelveticaNeueLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

h1,h2,h3,h4,h5,h6,strong,.heavy, em {
  font-weight: 600;
  font-family: 'HelveticaNeueHeavy', 'HelveticaNeue-Heavy', 'Helvetica Neue Heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1{ font-size: 2.5em; }
h2{ font-size: 1.75em; }
h3{ font-size: 1.25em; }
h4{ font-size: 1.1625em; }

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}
nav ul {
  list-style:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  color: #692B05;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong, b {
  font-weight: bold;
}

em {
  font-weight: 600;
  font-style: normal;
}

del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #eeeeee;
  margin:1em 0;
  padding:0;
}
input, select {
  vertical-align:middle;
}

code, code * {
  background-color: white;
  font-size: 14px;
  line-height: 16px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page-nav {
  width: 250px;
  position: fixed;
  left: -100px;
  top: 0;
  bottom: 0;
  padding: 1em 0;
  background-color: white;
  z-index: 0;
}

.page-nav-inner {
  position: relative;
}

.page-nav li a {
  display: block;
  padding: 0.5em 1em;
  border-left: 3px solid transparent;
}

.page-nav li a:hover {
  border-left: 3px solid #692B05;
}

.page-nav li.is-active a {
  border-left: 3px solid #291000;
}

.page-nav .home {
  padding: 1rem;
  font-size: 1.5em;
  display: block;
  font-weight: bold;
  padding: 0.5rem 1rem 1rem 59px;
  line-height: 30px;
  vertical-align: middle;
  background-image: url('/docs/guide/images/logo.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 19px 8px;
}

.nav-toggle {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 30px;
  height: 30px;
  z-index: 2;
  background-image: url('/docs/guide/images/logo.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.nav-toggle:hover {
  text-decoration: none;
}

.page-container {
  position: relative;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index:1;
  background-color: #FFFAF8;
}

.page {
  padding: 3em 1em;
  max-width: 800px;
  min-width: 320px;
}

.copy p, .copy li {
  line-height: 1.5em;
}

.copy > * + * {
  display: block;
  margin-top: 1em;
}

.copy > h1 + *, .copy > h2 + *, .copy > h3 + *, .copy > h4 + * {
  margin-top: 0.5em;
}

.copy > x-gist {
  margin-top: 2em;
  margin-bottom: 2em;
}

.copy ul, .copy ol {
  padding-left: 20px;
}

.copy li {
  list-style-position: inside;
}

.page-nav, .page-container, .nav-toggle {
  transform: translateZ(0);
  transition: transform 0.33s ease-in-out;
}

.next-page {
  font-size: 2em;
  text-align: right;
  display: block;
  padding: 0.25em;
  background-color: white;
}

@media all and (min-width: 731px) {

  .page-nav {
    left: 0;
  }

  .page-container {
    left: 250px;
    border-left: 1px solid #eee;
  }

  .page {
    padding: 1em 2em 2em;
  }

  .nav-toggle {
    display: none;
  }

}

@media all and (max-width: 730px) {
  .page-container {
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.15);
  }


  body.nav-active {
    overflow: hidden;
  }

  .nav-active .page-nav{
    transform: translate3d(100px, 0, 0);
  }

  .nav-active .page-container, .nav-active .nav-toggle{
    transform: translate3d(250px, 0, 0);
  }

  .nav-active pre {
    overflow: hidden;
  }

}
